-# Expected locals:
-#   entity - the entity (e.g. user, company) that is the subject of this partial and controller action
-#   button_text - text for the button that opens the modal
-#   target_id - id string, including the '#', for the data-target   ex: #editUserStatusModal
.admin-only.admin-note
  .row.mt-2
    .col.d-flex.pt-2
      .flex.pr-3.admin-note
      = payment_notes_label_and_value(entity)

    .flex.justify-content-end
      -# NOTE: Capybara cannot find link without 'href' attribute
      %a.btn.btn-outline-success.btn-sm(href='#' data-toggle='modal' data-target="#{target_id}")
        = button_text
