%header.entry-header
  %h1.entry-title= t('.title',name: @checklist.name)

.entry-content

  = render 'form', class_name: 'edit-checklist'

  %hr
    .text-center
      = link_to "View Checklist", @checklist, class: 'btn btn-sm btn-light'
      = link_to "List all checklists", checklists_path, class: 'btn btn-sm btn-light'
